/* Global Style */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins", sans-serif;
}

body {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: rgb(59, 55, 69);
    padding-bottom: 30px;
}

h1 img {
    height: 50px;
    padding-right: 10px; 
}

/* Intro styles */
.intro {
    background-color: rgb(229, 217, 255);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px; 
}

.intro p {
    padding: 30px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-buttons button {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 40px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: #fff082;
    border: rgb(84, 62, 138) solid 5px;
}

.instructions {
    position: relative;
    background-color: #573f8cbd;
    margin: 0 30px;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    border: rgb(84, 62, 138) solid 5px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    font-size: 40px;
    border: none;
    background: none;
    color: white;
    line-height: 40px;
}

.close-button:hover {
    cursor: pointer;
    color: #fff082
}

