/* Global Style */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins", sans-serif;
}

body {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: rgb(59, 55, 69);
    padding-bottom: 30px;
}

.logo {
    height: 100px;
}

/* Intro styles */
.intro {
    background-color: rgb(229, 217, 255);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px; 
}

.intro p {
    padding: 30px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-buttons button {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 40px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: #fff082;
    border: rgb(84, 62, 138) solid 5px;
}

.start-buttons button:hover {
    cursor: pointer;
    background-color: #fff4a7;
    text-decoration: underline;
}

.instructions {
    position: relative;
    background-color: #573f8cbd;
    margin: 0 30px;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    border: rgb(84, 62, 138) solid 5px;
}

.hide-instructions {
    display: none;
}

/* --------- Media queries */

@media (max-width: 620px) {
    .logo {
        height: 70px;
    }

    h1 {
        font-size: 2rem;
        padding-bottom: 15px;
    }

    .start-buttons button {
        padding: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 1.5rem;
        padding-bottom: 15px;
    }

    .start-buttons button {
        padding: 15px;
        font-size: 1rem;
    }
} */

