/* Global Style */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins", sans-serif;
}

body {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: rgb(59, 55, 69);
    padding-bottom: 30px;
}

.logo {
    height: 60px;
}

#game-area {
    background-color: rgb(229, 217, 255);
    /* height: 70vh; for intro screen */
    height: 80vh;
}

/* Intro styles */
.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px; 
}

.intro p {
    padding: 30px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-buttons button {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 40px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: #fff082;
    border: rgb(84, 62, 138) solid 5px;
}

.start-buttons button:hover {
    cursor: pointer;
    background-color: #fff4a7;
    text-decoration: underline;
}

.instructions {
    position: relative;
    background-color: #573f8cbd;
    margin: 0 30px;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    border: rgb(84, 62, 138) solid 5px;
}

.hide-instructions {
    display: none;
}

/* Game styles */

.results-area {
    display: flex;
    justify-content: space-around;
    margin: 0 10% 0 10%;
}

.results-area h2 {
    padding: 20px;
}

.results-area img {
    height: 100%;
    padding: 20px;
}

.user-image-div, .computer-image-div {
    height: 280px;
    width: 280px;
    border: black solid 4px;
    background-color: #573f8cbd;
}

.user-selection {
    display: flex;
    justify-content: center;
    height: 180px;
    gap: 15px;
    padding: 20px;
    margin-top: 30px;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-buttons button {
    width: 15%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: #fff082;
    border: rgb(84, 62, 138) solid 5px;
}

.game-buttons button:hover {
    cursor: pointer;
    background-color: #fff4a7;
    text-decoration: underline;
}

.round-scores {
    display: flex;
    border: red solid 5px;
    width: 100%;
    height: 50px;
}

.computer-choice .round-scores {
    justify-content: flex-end
}

.round-win {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: black;
    margin: 5px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown h2 {
    font-size: 2.5rem;
    color: rgb(84, 62, 138);
}

/* --------- Media queries */

@media (max-width: 620px) {
    .logo {
        height: 70px;
    }

    h1 {
        font-size: 2rem;
        padding-bottom: 15px;
    }

    .start-buttons button {
        padding: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 1.5rem;
        padding-bottom: 15px;
    }

    .start-buttons button {
        padding: 15px;
        font-size: 1rem;
    }
} 

